{"getTempKsoll":"$1",
 "getTempKist":"$2",
 "getUmschaltventil":"$R3",
 "getBetriebArt":"$R4",
 "getTempWWist":"$5",
 "getTempA":"$6",
 "getBrennerStarts":"$7",
 "getTempVLsollM2":"$8",
 "getBrennerStunden1":"$9"}