{"getTempA":"$1", 
 "getTempKsoll":"$2", 
 "getTempKist":"$3", 
 "getTempWWist":"$4", 
 "getEntlueftBefuell":"$R5",
 "getUmschaltventil":"$R6",
 "getBetriebArt":"$R7",
 "getBrennerStarts":"$8",
 "getTempVLsollM2":"$9"}
